%%-*- mode:erlang -*-

% multidoc

{lib_dirs, ["deps"]}.

{edoc_opts, [
		{doclet, edown_doclet},
		{skip_libs, ["deps"]},
		{top_level_readme, {"./README.md", "http://github.com/beadsland/multidoc"}},
		{todo, true}
		]}.

{deps, [
        {edown, ".*", {git, "git://github.com/beadsland/edown", {branch, master}}}
		]}.
